html {
    font-family:oswald;
    font-size: 16px;
    color: #322f2f;
    background-color:#DFD3D3;
}

a {
    text-decoration: none;
    color: #322f2f
}

h1, h3 {
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
/* nav bar */
/* buton color #7C7575 */
/* dark background #B8B0B0 */
/* light background #DFD3D3 */

.navbar {
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.logobox {
    padding-left: 24px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.svglogo {
    height: 2.5em;
    padding-right: 6px;
}

.colmar, .academy {
    font-size: 1.4em;
    
}

.colmar {
    color: #322f2f;
}

.academy {
    color: #B8B0B0;
}

.menulist {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 24px;
    
}

.menuitem {
    padding-left: 16px;
    font-size: 18px;
}

.menuitem a:hover {
    color:rgb(115, 135, 142);
}
/* first flex */
/* buton color #7C7575 */
/* dark background #B8B0B0 */
/* light background #DFD3D3 */

.first {
    margin-top: 64px;
    display: flex;
    align-items: center;
    background-color: #B8B0B0;
    width: 100%;
}

.left {
    width: 60%;
    overflow: hidden;
    padding: 32px 24px 32px 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 39%;
    padding: 32px 24px 32px 24px;  
}

.first .right h1 {
    font-size: 2.6em;
    margin: 0px;
    line-height: 1.0em;
}

.first .right p {
    font-size: 1.7em;  
    line-height: 1.2em;
    font-weight: 500;
    
}

.right button {
    font-size: 1.2em;
    background-color: #322f2f;
    border: none;
    color: #DFD3D3;
    padding: 8px;
    margin: 8px 0px;
    cursor: pointer;
    width: 60%;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    transition-delay: 10ms;
}

.first .right a {
    color: #DFD3D3;
}

.right button:hover {
    background-color: #2b545b;
}

/* darker color #7C7575 */
/* dark background #B8B0B0 */
/* light background #DFD3D3 */
/* highlighted button #565050

/*second*/
.second {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #faf4f4;
}

#underquote {
    font-size: 0.8em;
    font-weight: 600;
}

.second .right {
    align-items: space-around;
}

.article {
    display: flex;
    border: 1px solid #B8B0B0;
    margin-top: 8px;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 10ms
}

.articleimg {
    width: 35%;
    overflow: hidden;
    padding: 16px;
}

.articletext {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articletext h3 {
    margin-bottom: 0px;
}

.articletext p {
    margin: 0.5em 0em;
}

#lecture {
    background-color: #B8B0B0;
}

.second a{
    color: rgb(53, 135, 162);

}

.second a:hover {
    color: rgb(115, 135, 142);
    text-decoration: underline;
}

.article:hover, #lecture:hover{
    background-color: #b7bcbd;
}

/*third*/
.third_container {
    background-color: #B8B0B0;
    width: 100%;
}


.container_title {
    text-align: center;
    padding-top: 32px;
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px; */
    /* width: 100%; */
    margin: 32px 72px 32px 72px;
}

.first_line, .second_line {
    display: flex;
    justify-content: center;
    width: 100%;
}


.box {
    margin: 0px 32px 32px 0px;
    background-color:#faf4f4;
    width: 33%;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 10ms
}

.box .lower {
    padding: 16px 16px 24px 16px;
}

.box .lower p {
    margin: 8px 0px;
}

.box .lower h3 {
    margin: 0px;
}

.box:hover {
    background-color:#b7bcbd;
}


/*fourth flex */
.fourth_container {
    background-color:#faf4f4;
    width: 100%;
}

.fourth {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 0px;
    border-bottom: 1px solid #b7bcbd;
   
}

.fourth .left, .fourth .right {
    margin: 0px 24px;
    padding: 0px;
    overflow: hidden;
}

video {
    margin-bottom: 24px;
}

/* .fourth .right {
    justify-content: space-evenly;
} */




.footer {
    background-color:#faf4f4;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 16px 24px;
    width: 96.2%;
}
 #right {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
   
}

#left {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;

}

.footer ul {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    list-style: none;
    margin-top: 0px;
}
.footer li {
    padding: 0px 8px;

}